# OSX
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Sicherheitskopien:
*~
*.bak

# Eclipse:
.project
.settings/

# Von Cordova generierte Ordner ignorieren:
# Nach Empfehlung aus: https://gist.github.com/dixonj16/7043297
platforms/
plugins/

# exclude node_nodules directory // keine ahnung, ob der hier wirklich rein gehört. kam nach installation und ausführung von weinre.
node_modules
