<?xml version='1.0' encoding='utf-8'?>
<widget id="de.beuth-hochschule.errands" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Errands</name>

    <description>
        A simple cross-platform ToDo app e.g. for localized tasks.
    </description>

    <author href="http://cordova.apache.org" email="morgenstern.daniel@gmail.com">
        Daniel Morgenstern
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <preference name="Fullscreen" value="true" />
</widget>
