<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="0.0.1">

    <name>Errands</name>

    <description>
        A simple cross platform ToDo app e.g. for localized tasks.
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Daniel Morgenstern
    </author>

</widget>
