.insert-new {
	text-align: right;
}
.add-button {
	margin-right : 0em;
}
.all-done {
	background-image : url("../img/check-gray.svg");
	background-repeat : no-repeat;
	background-size: 18px 18px;
	background-position: 1em 50%;
	padding-left: 40px;
}
